<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1d7f76a8-c7b0-4e4e-a2ac-6b4a6ccf5efa" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1d7f76a8-c7b0-4e4e-a2ac-6b4a6ccf5efafileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
