<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6de0a719-5d38-4f2e-a8e8-6d83865dd535" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6de0a719-5d38-4f2e-a8e8-6d83865dd535fileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
