<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e25cddce-d12e-476f-803a-8ddeaa76416f" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e25cddce-d12e-476f-803a-8ddeaa76416ffileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
