<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="58a36adc-3285-43fc-9fe6-c4c5c97751a5" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="58a36adc-3285-43fc-9fe6-c4c5c97751a5fileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8088/</con:endpoint>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="e4549caf-cd13-4718-8379-0240e61daeb2">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="338b0ffe-987d-4d8d-a290-7b53c4eb6643">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="3db1684c-d5d7-4079-a0df-4f3a21c632af">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
