<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="427a93ff-ac96-4dcc-909f-619726e1d06a" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="427a93ff-ac96-4dcc-909f-619726e1d06afileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8088/</con:endpoint>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="935d4a96-219a-4ae9-80ed-739752a9213d">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
